force-app/main/default/flows/Case_Send_Custom_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>AddRecipients</name>
        <label>AddRecipients</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>RecipientsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendNotification</targetReference>
        </connector>
    </assignments>
    <description>Sends a custom notification to the specified users for the Case records.
Updates: removed subject template</description>
    <environments>Default</environments>
    <interviewLabel>Case - Send Custom Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Send Custom Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetNotificationType</name>
        <label>GetNotificationType</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddRecipients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CaseNotifications</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetNotificationType</targetReference>
        </connector>
        <filterFormula>(ISNEW() &amp;&amp; ISPICKVAL({!$Record.Type}, &quot;Owner Inquiry&quot;)) || (ISCHANGED({!$Record.OwnerId}) &amp;&amp; CASESAFEID({!$User.Id}) != CASESAFEID({!$Record.OwnerId}) &amp;&amp; ISPICKVAL({!$Record.Type}, &quot;Owner Inquiry&quot;))</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SendNotification</name>
        <label>SendNotification</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <flowName>SendCustomNotification</flowName>
        <inputAssignments>
            <name>notificationBody</name>
            <value>
                <elementReference>ownerInquiryBodyTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>notificationTitle</name>
            <value>
                <stringValue>Ein Case wurde Ihnen zugewiesen!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>notificationTypeId</name>
            <value>
                <elementReference>GetNotificationType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recipientsIds</name>
            <value>
                <elementReference>RecipientsIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>ownerInquiryBodyTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Case-Nummer: {!$Record.CaseNumber}
Betreff: {!$Record.Subject}</text>
    </textTemplates>
    <variables>
        <description>A set of recipient IDs. Each recipient ID corresponds to a recipient or recipient type that the notification should be sent to.</description>
        <name>RecipientsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
