force-app/main/default/flows/CONTACT_TRG_AfterInsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <constants>
        <name>emptyString</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>Account_Conditions</name>
        <label>Account Conditions</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetContactAsPrimaryContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.vlocity_cmt__PrimaryContactId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Business_Account_Primary_Contact</targetReference>
            </connector>
            <label>Set Contact as Primary Contact</label>
        </rules>
        <rules>
            <name>Set_Contact_as_Primary_for_Consumer_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.vlocity_cmt__PrimaryContactId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Consumer_Account_Primary_Contact</targetReference>
            </connector>
            <label>Set Contact as Primary for Consumer Account</label>
        </rules>
    </decisions>
    <description>Used to populate the Primary Contact Id on Account (Consumer/Business) once a Contact is created
Updates: added path for Consumer</description>
    <environments>Default</environments>
    <interviewLabel>CONTACT TRG AfterInsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTACT TRG AfterInsert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Business_Account_Primary_Contact</name>
        <label>Update Business Account Primary Contact</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>vlocity_cmt__PrimaryContactId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Consumer_Account_Primary_Contact</name>
        <label>Update Consumer Account Primary Contact</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>vlocity_cmt__PrimaryContactId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Conditions</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
