force-app/main/default/flows/Create_Task_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Configure_Tasks_1</name>
        <label>Configure Tasks</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>additionalDetailsTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Angebotsdetails wie Ansprechpartner, Leiferadresse, Rechnungsdaten, ... erfassen.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>additionalDetailsTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>additionalDetailsTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Angebotsdetails erfassen</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>additionalDetailsTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Additional Contact Details</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>additionalDetailsTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Angebots-E-Mail mit Angebotsdokument wird an kaufmännischen Ansprechpartner gesendet.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Angebots E-Mail senden</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auftrag wird erstellt.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auftrag erstellen</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Generate Order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OM_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>additionalDetailsTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>emailTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>orderTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MarketingPhase_Based_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Configure_Tasks_2</name>
        <label>Configure Tasks</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>additionalDetailsTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Angebotsdetails wie Ansprechpartner, Leiferadresse, Rechnungsdaten, ... erfassen.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>additionalDetailsTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>additionalDetailsTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Angebotsdetails erfassen</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>additionalDetailsTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Additional Contact Details</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>additionalDetailsTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Angebots-E-Mail mit Angebotsdokument wird an kaufmännischen Ansprechpartner gesendet.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Angebots E-Mail senden</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auftrag wird erstellt.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auftrag erstellen</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Generate Order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OM_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>additionalDetailsTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>emailTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>orderTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Task_List_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Marketing_Phase_Task_1</name>
        <label>Marketing Phase Task</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>marketingPhaseTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gebietsausbauentscheidung erfassen</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>marketingPhaseTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>marketingPhaseTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ausbauentscheidung erfassen</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>marketingPhaseTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PreMarketing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>marketingPhaseTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>marketingPhaseTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OM_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>marketingPhaseTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Task_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>MarketingPhase_Based_Decision</name>
        <label>MarketingPhase Based Decision</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Insert_Task_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PreMarketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMarketingPhase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vorvermarktungsphase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marketing_Phase_Task_1</targetReference>
            </connector>
            <label>PreMarketing</label>
        </rules>
    </decisions>
    <decisions>
        <name>QuoteType_Based_Decision</name>
        <label>QuoteType Based Decision</label>
        <locationX>468</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Activation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varQuoteType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OM_Queue</targetReference>
            </connector>
            <label>Activation</label>
        </rules>
        <rules>
            <name>Change</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varQuoteType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hardware Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varQuoteType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IP Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varQuoteType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change of Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Configure_Tasks_2</targetReference>
            </connector>
            <label>Change</label>
        </rules>
    </decisions>
    <description>Used to create Quote tasks
Updates: adjustment on the implementation for task creation</description>
    <environments>Default</environments>
    <interviewLabel>Create Task Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Task Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Task_List</name>
        <label>Insert Task List</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <inputReference>TasksList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Task_List_2</name>
        <label>Insert Task List</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <inputReference>TasksList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_OM_Queue</name>
        <label>Get OM Queue</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Configure_Tasks_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order_Management</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>QuoteType_Based_Decision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>additionalDetailsTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>contractTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>emailTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>marketingPhaseTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>orderTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TasksList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varMarketingPhase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQuoteType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to store the Quote/Order Id</description>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to store the subtype of Quote/Order</description>
        <name>varRecordSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
