force-app/main/default/flows/Lead_Conversion_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Billing_RT</name>
        <label>Assign Billing RT</label>
        <locationX>688</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varBiARecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Record_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Record_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_RT</name>
        <label>Assign Service RT</label>
        <locationX>424</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varSARecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Record_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Record_Types</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Zero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Billing_Account_Exists</name>
        <label>Is Billing Account Exists</label>
        <locationX>336</locationX>
        <locationY>1955</locationY>
        <defaultConnectorLabel>Bi Acc Exists</defaultConnectorLabel>
        <rules>
            <name>Billing_Account_Not_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingBillingAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Billing_Account</targetReference>
            </connector>
            <label>Bi Acc Not Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Premise_with_same_Id</name>
        <label>Is there a Premise with same Ext Id?</label>
        <locationX>336</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Create_Premise</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Premise Not Exists</defaultConnectorLabel>
        <rules>
            <name>Premise_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingPremise</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Service_Account</targetReference>
            </connector>
            <label>Premise Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_existing_service_account</name>
        <label>Is there existing service account?</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Get_Billing_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Service_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serviceAccount</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Service_Account_Pred_Premise</targetReference>
            </connector>
            <label>No Service Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_Selection</name>
        <label>Record Type Selection</label>
        <locationX>556</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Assign_Billing_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Billing Account</defaultConnectorLabel>
        <rules>
            <name>Service_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Record_Types.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Service_RT</targetReference>
            </connector>
            <label>Service Account</label>
        </rules>
    </decisions>
    <description>Handles Lead conversion process.
Updates: Don&apos;t create a new service account if existing premise has already one.</description>
    <environments>Default</environments>
    <formulas>
        <name>BillingAccountName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Company} &amp; &apos; - Billing -&apos; &amp; IF(ISBLANK({!$Record.BusinessCity__c}), &apos;&apos;, &apos; &apos; &amp; {!$Record.BusinessCity__c}) &amp; IF(ISBLANK({!$Record.BusinessStreet__c}), &apos;&apos;, &apos; &apos; &amp; {!$Record.BusinessStreet__c}) &amp; IF(ISBLANK({!$Record.BusinessHouseNo__c}), &apos;&apos;, &apos; &apos; &amp; {!$Record.BusinessHouseNo__c}) &amp; IF(ISBLANK({!$Record.BusinessHouseNoExt__c}), &apos;&apos;, {!$Record.BusinessHouseNoExt__c})</expression>
    </formulas>
    <formulas>
        <name>PremiseName</name>
        <dataType>String</dataType>
        <expression>{!$Record.ServicePostalCode__c}&amp;&apos; &apos;&amp;{!$Record.ServiceStreet__c}&amp;&apos; &apos;&amp;{!$Record.ServiceHouseNo__c}&amp;&apos; &apos;&amp;{!$Record.ServiceHouseNoExt__c}</expression>
    </formulas>
    <formulas>
        <name>ServiceAccountName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Company} &amp; &apos; - Service - &apos; &amp; IF(ISBLANK({!$Record.ServiceCity__c}), &apos;&apos;, &apos; &apos; &amp; {!$Record.ServiceCity__c}) &amp; IF(ISBLANK({!$Record.ServiceStreet__c}), &apos;&apos;, &apos; &apos; &amp; {!$Record.ServiceStreet__c}) &amp; IF(ISBLANK({!$Record.ServiceHouseNo__c}), &apos;&apos;, &apos; &apos; &amp; {!$Record.ServiceHouseNo__c}) &amp; IF(ISBLANK({!$Record.ServiceHouseNoExt__c}), &apos;&apos;, {!$Record.ServiceHouseNoExt__c})</expression>
    </formulas>
    <interviewLabel>Lead - Conversion Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Conversion Handler</label>
    <loops>
        <description>Loop through the Record Type Collection records</description>
        <name>Loop_through_Record_Types</name>
        <label>Loop through Record Types</label>
        <locationX>336</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Account_Record_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Record_Type_Selection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Existing_Premises</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Billing_Account</name>
        <label>Create Billing Account</label>
        <locationX>204</locationX>
        <locationY>2063</locationY>
        <inputAssignments>
            <field>BillingAddressExt__c</field>
            <value>
                <elementReference>$Record.BusinessAddressExt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingAddressId__c</field>
            <value>
                <elementReference>$Record.BusinessAddressId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCityExt__c</field>
            <value>
                <elementReference>$Record.BusinessCityExt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity__c</field>
            <value>
                <elementReference>$Record.BusinessCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry__c</field>
            <value>
                <elementReference>$Record.BusinessCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingHouseNoExt__c</field>
            <value>
                <elementReference>$Record.BusinessHouseNoExt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingHouseNo__c</field>
            <value>
                <elementReference>$Record.BusinessHouseNo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode__c</field>
            <value>
                <elementReference>$Record.BusinessPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState__c</field>
            <value>
                <elementReference>$Record.BusinessState__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet__c</field>
            <value>
                <elementReference>$Record.BusinessStreet__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsBillingAddressValid__c</field>
            <value>
                <elementReference>$Record.IsBusinessAddressValid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>BillingAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varBiARecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Premise</name>
        <label>Create Premise</label>
        <locationX>490</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Create_Service_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>AddressExt__c</field>
            <value>
                <elementReference>$Record.ServiceAddressExt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CityExt__c</field>
            <value>
                <elementReference>$Record.ServiceCityExt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouseNoExt__c</field>
            <value>
                <elementReference>$Record.ServiceHouseNoExt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouseNo__c</field>
            <value>
                <elementReference>$Record.ServiceHouseNo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PremiseName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__City__c</field>
            <value>
                <elementReference>$Record.ServiceCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__Country__c</field>
            <value>
                <elementReference>$Record.ServiceCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__PostalCode__c</field>
            <value>
                <elementReference>$Record.ServicePostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__PremisesIdentifier__c</field>
            <value>
                <elementReference>$Record.ServiceAddressId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__State__c</field>
            <value>
                <elementReference>$Record.ServiceState__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__StreetAddress__c</field>
            <value>
                <elementReference>$Record.ServiceStreet__c</elementReference>
            </value>
        </inputAssignments>
        <object>vlocity_cmt__Premises__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Account</name>
        <label>Create Service Account</label>
        <locationX>490</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Get_Billing_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ServiceAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varSARecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__PremisesId__c</field>
            <value>
                <elementReference>Create_Premise</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Account_Pred_Premise</name>
        <label>Create Service Account</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Get_Billing_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ServiceAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varSARecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__PremisesId__c</field>
            <value>
                <elementReference>varExistingPremise.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record_Types</name>
        <label>Get Account Record Types</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Record_Types</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Billing_Account</name>
        <label>Get Billing Account</label>
        <locationX>336</locationX>
        <locationY>1847</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Billing_Account_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBiARecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varExistingBillingAccount</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Premises</name>
        <label>Get Existing Premises</label>
        <locationX>336</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Premise_with_same_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vlocity_cmt__PremisesIdentifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAddressId__c</elementReference>
            </value>
        </filters>
        <object>vlocity_cmt__Premises__c</object>
        <outputReference>varExistingPremise</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>vlocity_cmt__PremisesIdentifier__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Service_Account</name>
        <label>Get Existing Service Account</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_existing_service_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vlocity_cmt__PremisesId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varExistingPremise.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>serviceAccount</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Record_Type</name>
        <label>Get Opp Record Type</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2BSalesOpportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_Account_Record_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Opp_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opp_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OldPremiseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varBiARecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExistingBillingAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varExistingPremise</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>vlocity_cmt__Premises__c</objectType>
    </variables>
    <variables>
        <description>Service Account Record Type Id</description>
        <name>varSARecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalPremiseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
