force-app/main/default/flows/OrderFulfillment_Order_Fulfillment_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>OrderFulfillmentHandler</name>
        <label>OrderFulfillmentHandler</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>IntegrationProcedureInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>$Record.Payload__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureAPIName</name>
            <value>
                <stringValue>PlusNet_OrderResponseHandler</stringValue>
            </value>
        </inputParameters>
        <nameSegment>IntegrationProcedureInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <description>Runs when an OrderFulfillment platform event is published. Used to store details about the Order fulfillment process
Updates: creation of log record when an event is captured</description>
    <environments>Default</environments>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>OrderFulfillment - Order Fulfillment Handlee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OrderFulfillment - Order Fulfillment Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_Event</name>
        <label>Log Event</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <connector>
            <targetReference>OrderFulfillmentHandler</targetReference>
        </connector>
        <inputAssignments>
            <field>Payload__c</field>
            <value>
                <elementReference>$Record.Payload__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <object>EventLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Event</targetReference>
        </connector>
        <object>OrderFulfillment__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
