force-app/main/default/flows/Order_Notification_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Order_Info</name>
        <label>Send Connection Order Info</label>
        <locationX>1018</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>godigi-testmail@plusnet.de</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_Conn_Notification_Config.Contact_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Neuer Hausanschlussauftrag - {!$Record.OrderNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ConnectionOrderEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Service_Order_Info</name>
        <label>Send Service Order Info</label>
        <locationX>1282</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>godigi-testmail@plusnet.de</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_Service_Notification_Config.Contact_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Neuer Glasfaser Dienstauftrag - {!$Record.OrderNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ServiceOrderEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Order_SubType_Decision</name>
        <label>Order SubType Decision</label>
        <locationX>1282</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Connection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Conn_Notification_Config</targetReference>
            </connector>
            <label>Connection</label>
        </rules>
        <rules>
            <name>Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Notification_Config</targetReference>
            </connector>
            <label>Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Order_Confirmation</name>
        <label>Send Order Confirmation</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Create_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Activation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SubType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SubType__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Order_Activation_Email</targetReference>
            </connector>
            <label>Send Activation</label>
        </rules>
        <rules>
            <name>Send_Termination</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SubType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SubType__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Termination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Order_Termination_Email</targetReference>
            </connector>
            <label>Send Termination</label>
        </rules>
        <rules>
            <name>Send_Hardware_Malfunction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SubType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SubType__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hardware Malfunction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Order_HW_Email</targetReference>
            </connector>
            <label>Send Hardware Malfunction</label>
        </rules>
    </decisions>
    <description>Once the Subtype field on Order is updated, email notifications are sent.
Updates: Updated use cases for entry confirmation emails</description>
    <environments>Default</environments>
    <interviewLabel>Order - Notification Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order - Notification Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Conn_Notification_Config</name>
        <label>Get Conn Notification Config</label>
        <locationX>1018</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Order_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Use_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order Connection Geostruct</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Notifications_Configuration__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact_Email__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Product</name>
        <label>Get Main Product</label>
        <locationX>1282</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_SubType_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>vlocity_cmt__ParentItemId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Notification_Config</name>
        <label>Get Service Notification Config</label>
        <locationX>1282</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Service_Order_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Use_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order Service Geostruct</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Notifications_Configuration__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact_Email__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>738</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Order_Confirmation</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>SubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Connection</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Send_Geostruct_Details</name>
            <connector>
                <targetReference>Get_Main_Product</targetReference>
            </connector>
            <label>Send Geostruct Details</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>446</locationX>
        <locationY>576</locationY>
        <flowName>Order_Create_Task_Handler</flowName>
        <inputAssignments>
            <name>varOrderType</name>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordQuoteId</name>
            <value>
                <elementReference>$Record.vlocity_cmt__QuoteId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordSubType</name>
            <value>
                <elementReference>$Record.SubType__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Order_Activation_Email</name>
        <label>Send Order Activation Email</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Create_Tasks</targetReference>
        </connector>
        <flowName>Send_Notification</flowName>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>$Record.Account.vlocity_cmt__PrimaryContactId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RelatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UseCase</name>
            <value>
                <stringValue>Order Entry Confirmation</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Order_HW_Email</name>
        <label>Send Order HW Email</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Create_Tasks</targetReference>
        </connector>
        <flowName>Send_Notification</flowName>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>$Record.Account.vlocity_cmt__PrimaryContactId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RelatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UseCase</name>
            <value>
                <stringValue>Order HW Malfunction Entry Confirmation</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Order_Termination_Email</name>
        <label>Send Order Termination Email</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Create_Tasks</targetReference>
        </connector>
        <flowName>Send_Notification</flowName>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>$Record.Account.vlocity_cmt__PrimaryContactId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RelatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UseCase</name>
            <value>
                <stringValue>Order Termination Entry Confirmation</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>ConnectionOrderEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h1&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Beauftragung Glasfaser Hausanschluss&lt;/strong&gt;&lt;/h1&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Auftragsnummer: &lt;/strong&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(20, 30, 40);&quot;&gt;{!$Record.OrderNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Liebe Kollegen,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;für den Kunden mit der Auftragsnummer &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; font-family: Calibri, sans-serif; color: rgb(20, 30, 40);&quot;&gt;{!$Record.OrderNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;haben wir einen Glasfaserauftrag über Salesforce erhalten. Anbei erhaltet ihr die Informationen für die Bereitstellung des Hausanschlusses:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Salesforce Auftragsnummer: &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;{!$Record.OrderNumber}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: white;&quot;&gt;Produkt: &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Main_Product.Product2.Name}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: white;&quot;&gt;Anschlussadresse: {!$Record.vlocity_cmt__DefaultPremisesId__r.vlocity_cmt__StreetAddress__c}  {!$Record.vlocity_cmt__DefaultPremisesId__r.HouseNo__c}  {!$Record.vlocity_cmt__DefaultPremisesId__r.HouseNoExt__c}    {!$Record.vlocity_cmt__DefaultPremisesId__r.vlocity_cmt__PostalCode__c}  {!$Record.vlocity_cmt__DefaultPremisesId__r.vlocity_cmt__City__c} {!$Record.vlocity_cmt__DefaultPremisesId__r.CityExt__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: white; font-size: 16px;&quot;&gt;Eigentümerdaten:&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Name: {!$Record.Account.Name}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Adresse: &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Account.BusinessStreet__c} {!$Record.Account.BusinessHouseNo__c} {!$Record.Account.BusinessHouseNoExt__c} {!$Record.Account.BusinessPostalCode__c} {!$Record.Account.BusinessCity__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Ansprechpartner: {!$Record.Account.vlocity_cmt__PrimaryContactId__r.FirstName} {!$Record.Account.vlocity_cmt__PrimaryContactId__r.LastName}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px; color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;E-Mail-Adresse: {!$Record.Account.vlocity_cmt__PrimaryContactId__r.Email}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Telefonnummer: {!$Record.Account.vlocity_cmt__PrimaryContactId__r.Phone}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Technischer Ansprechpartner:&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Vorname: {!$Record.TechnicalContact__r.FirstName}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Nachname:&amp;nbsp;{!$Record.TechnicalContact__r.LastName}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;E-Mail-Adresse: {!$Record.TechnicalContact__r.Email}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Telefonnummer:&amp;nbsp;{!$Record.TechnicalContact__r.Phone}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Vielen Dank!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ServiceOrderEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h1&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Beauftragung Glasfaser-Dienst&lt;/strong&gt;&lt;/h1&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Auftragsnummer: &lt;/strong&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(20, 30, 40);&quot;&gt;{!$Record.OrderNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Liebe Kollegen,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;für den Kunden mit der Auftragsnummer &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; font-family: Calibri, sans-serif; color: rgb(20, 30, 40);&quot;&gt;{!$Record.OrderNumber} &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;haben wir einen Glasfaserauftrag über Salesforce erhalten. Anbei erhaltet ihr die Informationen für die Bereitstellung des Diensts:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Salesforce Auftragsnummer: &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;{!$Record.OrderNumber}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: white;&quot;&gt;Produkt: &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Main_Product.Product2.Name}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: white;&quot;&gt;Anschlussadresse: {!$Record.vlocity_cmt__DefaultPremisesId__r.vlocity_cmt__StreetAddress__c}  {!$Record.vlocity_cmt__DefaultPremisesId__r.HouseNo__c}   {!$Record.vlocity_cmt__DefaultPremisesId__r.HouseNoExt__c}  {!$Record.vlocity_cmt__DefaultPremisesId__r.vlocity_cmt__PostalCode__c}   {!$Record.vlocity_cmt__DefaultPremisesId__r.vlocity_cmt__City__c}  {!$Record.vlocity_cmt__DefaultPremisesId__r.CityExt__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: white; font-size: 16px;&quot;&gt;Eigentümerdaten:&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Name: {!$Record.Account.Name}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Adresse: &lt;/span&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Account.BusinessStreet__c} {!$Record.Account.BusinessHouseNo__c} {!$Record.Account.BusinessHouseNoExt__c} {!$Record.Account.BusinessPostalCode__c} {!$Record.Account.BusinessCity__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Ansprechpartner: {!$Record.Account.vlocity_cmt__PrimaryContactId__r.FirstName} {!$Record.Account.vlocity_cmt__PrimaryContactId__r.LastName}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px; color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;E-Mail-Adresse: {!$Record.Account.vlocity_cmt__PrimaryContactId__r.Email}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Telefonnummer: {!$Record.Account.vlocity_cmt__PrimaryContactId__r.Phone}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Technischer Ansprechpartner:&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Vorname: {!$Record.TechnicalContact__r.FirstName}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Nachname:&amp;nbsp;{!$Record.TechnicalContact__r.LastName}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;E-Mail-Adresse: {!$Record.TechnicalContact__r.Email}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Telefonnummer:&amp;nbsp;{!$Record.TechnicalContact__r.Phone}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Vielen Dank!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
