force-app/main/default/flows/Order_Contract_Dates_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Update dates on CLIs related to the Contract attached to the Order</description>
        <name>Activate_CLIs</name>
        <label>Activate CLIs</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>IntegrationProcedureInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureAPIName</name>
            <value>
                <stringValue>PlusNet_ActivateContractLineItems</stringValue>
            </value>
        </inputParameters>
        <nameSegment>IntegrationProcedureInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Terminate all the CLIs related to the Contract attached to the Order</description>
        <name>Terminate_CLIs</name>
        <label>Terminate CLIs</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>IntegrationProcedureInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureAPIName</name>
            <value>
                <stringValue>PlusNet_TerminateContractLineItems</stringValue>
            </value>
        </inputParameters>
        <nameSegment>IntegrationProcedureInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Update Hardware CPE CLI</description>
        <name>Update_HW_CLIs</name>
        <label>Update HW CLIs</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>IntegrationProcedureInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureAPIName</name>
            <value>
                <stringValue>PlusNet_UpdateContractLineItems</stringValue>
            </value>
        </inputParameters>
        <nameSegment>IntegrationProcedureInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Order_Status_Based_Decision</name>
        <label>Order Type Based Decision</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Activation</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vlocity_cmt__OrderStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_CLIs</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Activation</label>
        </rules>
        <rules>
            <name>Termination</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Termination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vlocity_cmt__OrderStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Terminate_CLIs</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Termination</label>
        </rules>
        <rules>
            <name>HW_Malfunction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hardware Malfunction</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.vlocity_cmt__OrderStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HW_CLIs</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>HW Malfunction</label>
        </rules>
    </decisions>
    <description>Once the Order is Activated, updates on Contract related dates
Updates: added HW Malfunction path</description>
    <environments>Default</environments>
    <interviewLabel>Order - Contract Dates Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order - Contract Dates Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Order_Status_Based_Decision</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vlocity_cmt__OrderStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ConnectionOrderEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h1&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Beauftragung Glasfaser Hausanschluss&lt;/strong&gt;&lt;/h1&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Auftragsnummer: &lt;/strong&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(20, 30, 40);&quot;&gt;{!$Record.OrderNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Liebe Kollegen,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;für den Kunden mit der Auftragsnummer &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(20, 30, 40); font-family: Calibri, sans-serif;&quot;&gt;{!$Record.OrderNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;haben wir einen Glasfaserauftrag über Salesforce erhalten. Anbei erhaltet ihr die Informationen für die Bereitstellung des Hausanschlusses:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Salesforce Auftragsnummer: &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!$Record.OrderNumber}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: white; font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;TZIP Adresse: - TBD&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: white; font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Produkt: &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!64c7c17f-7d5d-4748-afa8-1eadf03ee3f7.Product2.Name}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;u style=&quot;background-color: white; font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Anschlussadresse&lt;/u&gt;&lt;span style=&quot;background-color: white; font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;:&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;background-color: white; font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;!$Record.&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;vlocity_cmt__Premises__r.vlocity_cmt__StreetAddress__c&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: white;&quot;&gt;} {&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;!$Record.vlocity_cmt__Premises__r.&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;HouseNo__c&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: white;&quot;&gt;} {&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;!$Record.vlocity_cmt__Premises__r.&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;HouseNoExt__c&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: white;&quot;&gt;}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;background-color: white; color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;{&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;!$Record.vlocity_cmt__Premises__r.&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;vlocity_cmt__PostalCode__c&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: white;&quot;&gt;} {&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;!$Record.vlocity_cmt__Premises__r.&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;vlocity_cmt__City__c&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: white;&quot;&gt;} {&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;!$Record.vlocity_cmt__Premises__r.&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;CityExt__c&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: white;&quot;&gt;}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;u style=&quot;font-size: 16px; background-color: white;&quot;&gt;Eigentümerdaten&lt;/u&gt;&lt;span style=&quot;font-size: 16px; background-color: white;&quot;&gt;:&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Name: {!$Record.Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Adresse:&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Account.BusinessStreet__c} {!$Record.Account.BusinessHouseNo__c} {!$Record.Account.BusinessHouseNoExt__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Account.BusinessPostalCode__c} {!$Record.Account.BusinessCity__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Ansprechpartner: {!$Record.Account.vlocity_cmt__PrimaryContactId__r.FirstName} {!$Record.Account.vlocity_cmt__PrimaryContactId__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: 16px;&quot;&gt;E-Mail-Adresse: {!$Record.Account.vlocity_cmt__PrimaryContactId__r.Email}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Telefonnummer: {!$Record.Account.vlocity_cmt__PrimaryContactId__r.Phone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;u style=&quot;font-size: 16px;&quot;&gt;Technischer Ansprechpartner&lt;/u&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;:&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Vorname: {!$Record.TechnicalContact__r.FirstName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Nachname:&amp;nbsp;{!$Record.TechnicalContact__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;E-Mail-Adresse: {!$Record.TechnicalContact__r.Email}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Telefonnummer:&amp;nbsp;{!$Record.TechnicalContact__r.Phone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Vielen Dank!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ServiceOrderEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h1&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Beauftragung Glasfaser-Dienst&lt;/strong&gt;&lt;/h1&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Auftragsnummer: &lt;/strong&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(20, 30, 40);&quot;&gt;{!$Record.OrderNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Liebe Kollegen,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;für den Kunden mit der Auftragsnummer &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(20, 30, 40); font-family: Calibri, sans-serif;&quot;&gt;{!$Record.OrderNumber} &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;haben wir einen Glasfaserauftrag über Salesforce erhalten. Anbei erhaltet ihr die Informationen für die Bereitstellung des Diensts:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Salesforce Auftragsnummer: &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!$Record.OrderNumber}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: white; font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;TZIP Adresse: - TBD&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: white; font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Produkt: &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!64c7c17f-7d5d-4748-afa8-1eadf03ee3f7.Product2.Name}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;u style=&quot;background-color: white; font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Anschlussadresse&lt;/u&gt;&lt;span style=&quot;background-color: white; font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;:&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;background-color: white; font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;!$Record.&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;vlocity_cmt__Premises__r.vlocity_cmt__StreetAddress__c&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: white;&quot;&gt;} {&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;!$Record.vlocity_cmt__Premises__r.&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;HouseNo__c&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: white;&quot;&gt;} {&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;!$Record.vlocity_cmt__Premises__r.&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;HouseNoExt__c&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: white;&quot;&gt;}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;background-color: white; color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;{&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;!$Record.vlocity_cmt__Premises__r.&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;vlocity_cmt__PostalCode__c&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: white;&quot;&gt;} {&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;!$Record.vlocity_cmt__Premises__r.&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;vlocity_cmt__City__c&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: white;&quot;&gt;} {&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;!$Record.vlocity_cmt__Premises__r.&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;CityExt__c&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: white;&quot;&gt;}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;u style=&quot;font-size: 16px; background-color: white;&quot;&gt;Eigentümerdaten&lt;/u&gt;&lt;span style=&quot;font-size: 16px; background-color: white;&quot;&gt;:&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Name: {!$Record.Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Adresse:&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Account.BusinessStreet__c} {!$Record.Account.BusinessHouseNo__c} {!$Record.Account.BusinessHouseNoExt__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-3&quot;&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Account.BusinessPostalCode__c} {!$Record.Account.BusinessCity__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Ansprechpartner: {!$Record.Account.vlocity_cmt__PrimaryContactId__r.FirstName} {!$Record.Account.vlocity_cmt__PrimaryContactId__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: 16px;&quot;&gt;E-Mail-Adresse: {!$Record.Account.vlocity_cmt__PrimaryContactId__r.Email}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Telefonnummer: {!$Record.Account.vlocity_cmt__PrimaryContactId__r.Phone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;u style=&quot;font-size: 16px;&quot;&gt;Technischer Ansprechpartner&lt;/u&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;:&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Vorname: {!$Record.TechnicalContact__r.FirstName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Nachname:&amp;nbsp;{!$Record.TechnicalContact__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;E-Mail-Adresse: {!$Record.TechnicalContact__r.Email}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Telefonnummer:&amp;nbsp;{!$Record.TechnicalContact__r.Phone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Vielen Dank!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
