force-app/main/default/flows/Quote_Trigger_Update_After.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Marketingphase_Based_Decision</name>
        <label>Marketingphase Based Decision</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Send_Accepted_Quote_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Premarketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MarketingPhase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vorvermarktungsphase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Accepted_Quote_Email_Premarketing</targetReference>
            </connector>
            <label>Premarketing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reason_Based_Decision</name>
        <label>Reason Based Decision</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Building_Decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CancellationReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negative Bauentscheidung</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Negative_Decision_Email</targetReference>
            </connector>
            <label>Building Decision</label>
        </rules>
        <rules>
            <name>Quote_Not_Feasible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CancellationReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bau technisch nicht möglich</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Quote_Not_Feasible_Email</targetReference>
            </connector>
            <label>Quote Not Feasible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Based_Decision</name>
        <label>Status Based Decision</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Presented</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Status</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
        <rules>
            <name>Withdraw</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reason_Based_Decision</targetReference>
            </connector>
            <label>Withdraw</label>
        </rules>
    </decisions>
    <description>Updates: added entry condition to check status equals to Accepted OR Withdrawn</description>
    <environments>Default</environments>
    <interviewLabel>Quote - Trigger - Update - After {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Trigger - Update - After</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunity_Status</name>
        <label>Update Opportunity Status</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Marketingphase_Based_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Gewonnen</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Based_Decision</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Accepted_Quote_Email</name>
        <label>Send Accepted Quote Email</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <flowName>Send_Notification</flowName>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RelatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UseCase</name>
            <value>
                <stringValue>Quote Accepted</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Accepted_Quote_Email_Premarketing</name>
        <label>Send Accepted Quote Email Premarketing</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <flowName>Send_Notification</flowName>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RelatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UseCase</name>
            <value>
                <stringValue>Quote Accepted Premarketing</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Negative_Decision_Email</name>
        <label>Send Negative Decision Email</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <flowName>Send_Notification</flowName>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RelatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UseCase</name>
            <value>
                <stringValue>Negative Building Decision</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Quote_Not_Feasible_Email</name>
        <label>Send Quote Not Feasible Email</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <flowName>Send_Notification</flowName>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RelatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UseCase</name>
            <value>
                <stringValue>Quote Not Feasible</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>NotificationRecepientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
